Repository IMDC/webmoti-react: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-react-app, test-hand-server

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            webmoti-react/.* build-and-test-react-app true
            hand/app/.* test-hand-server true

installed latest react-hotkeys-hook
  webmoti-react/package-lock.json
  webmoti-react/package.json
  webmoti-react/src/__mocks__/react-hotkeys-hook.ts
Due: build-and-test-react-app

fixed svg import in jest test
  webmoti-react/jest.config.js
  webmoti-react/src/__mocks__/svgMock.ts
  webmoti-react/src/components/LoginPage/LoginPage.test.tsx
Due: build-and-test-react-app

updated eslint and typescript to latest
  webmoti-react/package-lock.json
  webmoti-react/package.json
Due: build-and-test-react-app

updated eslint config
  webmoti-react/.eslintrc.json
  webmoti-react/package.json
Due: build-and-test-react-app

new eslint config
  webmoti-react/.eslintrc.json
  webmoti-react/.eslintrc_on_save.json
  webmoti-react/eslint.config.mjs
  webmoti-react/package-lock.json
  webmoti-react/package.json
Due: build-and-test-react-app

circleci path-filtering 2.0.0 and node 22.16.0
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

eslint disable react import warning
  webmoti-react/eslint.config.mjs
Due: build-and-test-react-app

eslint quick fix
  webmoti-react/src/components/ChatWindow/ChatInput/ChatInput.tsx
  webmoti-react/src/components/GalleryView/usePagination/usePagination.ts
  webmoti-react/src/components/VideoProvider/useBackgroundSettings/useBackgroundSettings.test.tsx
  webmoti-react/src/components/VideoProvider/useBackgroundSettings/useBackgroundSettings.ts
  webmoti-react/src/components/VideoProvider/useRestartAudioTrackOnDeviceChange/useRestartAudioTrackOnDeviceChange.test.tsx
  webmoti-react/src/hooks/useDevices/useDevices.test.tsx
  webmoti-react/src/hooks/useGalleryViewLayout/useGalleryViewLayout.ts
  webmoti-react/src/state/useFirebaseAuth/useFirebaseAuth.ts
  webmoti-react/src/utils/index.test.ts
Due: build-and-test-react-app

fixed eslint ts-ignore error
  webmoti-react/src/components/AudioLevelIndicator/AudioLevelIndicator.tsx
  webmoti-react/src/components/ChatProvider/index.tsx
  webmoti-react/src/components/ChatWindow/ChatInput/ChatInput.test.tsx
  webmoti-react/src/components/MenuBar/MenuBar.test.tsx
  webmoti-react/src/components/PreJoinScreens/PreJoinScreens.test.tsx
  webmoti-react/src/components/PreJoinScreens/PreJoinScreens.tsx
  webmoti-react/src/components/UnsupportedBrowserWarning/UnsupportedBrowserWarning.test.tsx
  webmoti-react/src/components/VideoProvider/AttachVisibilityHandler/AttachVisibilityHandler.test.tsx
  webmoti-react/src/components/VideoProvider/useBackgroundSettings/useBackgroundSettings.ts
  webmoti-react/src/components/VideoProvider/useRestartAudioTrackOnDeviceChange/useRestartAudioTrackOnDeviceChange.test.tsx
  webmoti-react/src/components/VideoProvider/useRoom/useRoom.test.tsx
  webmoti-react/src/components/VideoProvider/useRoom/useRoom.tsx
  webmoti-react/src/hooks/useDevices/useDevices.test.tsx
  webmoti-react/src/hooks/useGalleryViewLayout/useGalleryViewLayout.test.ts
  webmoti-react/src/hooks/useHeight/useHeight.test.tsx
  webmoti-react/src/state/index.test.tsx
  webmoti-react/src/state/useFirebaseAuth/useFirebaseAuth.test.ts
  webmoti-react/src/state/usePasscodeAuth/usePasscodeAuth.test.tsx
  webmoti-react/src/utils/index.test.ts
Due: build-and-test-react-app

fixed useRef mock in useGalleryViewLayout test
  webmoti-react/src/hooks/useGalleryViewLayout/useGalleryViewLayout.test.ts
Due: build-and-test-react-app

fixed eslint errors
  webmoti-react/eslint.config.mjs
  webmoti-react/package-lock.json
  webmoti-react/package.json
  webmoti-react/server/__tests__/createExpressHandler.test.ts
  webmoti-react/server/bootstrap-globals.ts
  webmoti-react/server/firebaseAuthMiddleware.ts
  webmoti-react/server/index.ts
  webmoti-react/server/types.ts
  webmoti-react/src/components/Buttons/ToggleCaptionsButton/ToggleCaptionsButton.tsx
  webmoti-react/src/components/Buttons/ToggleChatButton/ToggleChatButton.tsx
  webmoti-react/src/components/Buttons/ToggleScreenShareButton/ToggleScreenShareButton.tsx
  webmoti-react/src/components/Buttons/VideoRotationSlider/VideoRotationSlider.tsx
  webmoti-react/src/components/ChatWindow/ChatInput/ChatInput.test.tsx
  webmoti-react/src/components/ChatWindow/MessageList/MessageList.tsx
  webmoti-react/src/components/DeviceSelectionDialog/VideoInputList/VideoInputList.test.tsx
  webmoti-react/src/components/DeviceSelectionDialog/VideoInputList/VideoInputList.tsx
  webmoti-react/src/components/ErrorDialog/ErrorDialog.tsx
  webmoti-react/src/components/MenuBar/ControlsMenu/NotifySlider.tsx
  webmoti-react/src/components/PreJoinScreens/DeviceSelectionScreen/DeviceSelectionScreen.tsx
  webmoti-react/src/components/Snackbar/Snackbar.tsx
  webmoti-react/src/components/VideoProvider/useLocalTracks/useLocalTracks.test.tsx
  webmoti-react/src/components/VideoProvider/useLocalTracks/useLocalTracks.ts
  webmoti-react/src/components/VideoProvider/useScreenShareToggle/useScreenShareToggle.tsx
  webmoti-react/src/hooks/useFlipCameraToggle/useFlipCameraToggle.test.tsx
  webmoti-react/src/hooks/useFlipCameraToggle/useFlipCameraToggle.tsx
  webmoti-react/src/hooks/useLocalAudioToggle/useLocalAudioToggle.tsx
  webmoti-react/src/state/index.tsx
  webmoti-react/src/state/settings/settingsReducer.ts
  webmoti-react/src/state/useFirebaseAuth/useFirebaseAuth.test.ts
  webmoti-react/src/state/usePasscodeAuth/usePasscodeAuth.ts
  webmoti-react/src/types.ts
  webmoti-react/src/utils/index.ts
Due: build-and-test-react-app

upgraded swiper to 11
  webmoti-react/jest.config.js
  webmoti-react/package-lock.json
  webmoti-react/package.json
  webmoti-react/src/__mocks__/styleMock.ts
  webmoti-react/src/__mocks__/swiperMock.ts
  webmoti-react/src/__mocks__/swiperReactMock.tsx
  webmoti-react/src/components/MobileGalleryView/MobileGalleryView.test.tsx
  webmoti-react/src/components/MobileGalleryView/MobileGalleryView.tsx
  webmoti-react/src/components/Room/Room.test.tsx
Due: build-and-test-react-app

fixed ws vulnerability
  webmoti-react/package-lock.json
Due: build-and-test-react-app

firebaseAuthMiddleware require instead of import
  webmoti-react/server/firebaseAuthMiddleware.ts
Due: build-and-test-react-app

upgrade to react 19
  webmoti-react/package-lock.json
  webmoti-react/package.json
Due: build-and-test-react-app

ran types-react-codemod@latest preset-19
  webmoti-react/src/components/AudioTrack/AudioTrack.tsx
  webmoti-react/src/components/PrivateRoute/PrivateRoute.tsx
  webmoti-react/src/components/ShortcutTooltip/ShortcutTooltip.tsx
  webmoti-react/src/components/UnsupportedBrowserWarning/UnsupportedBrowserWarning.tsx
  webmoti-react/src/utils/testUtils.ts
Due: build-and-test-react-app

fixed eslint errors
  webmoti-react/src/components/ShortcutTooltip/ShortcutTooltip.tsx
  webmoti-react/src/components/UnsupportedBrowserWarning/UnsupportedBrowserWarning.tsx
  webmoti-react/src/utils/testUtils.ts
Due: build-and-test-react-app

fixed tests
  webmoti-react/src/components/ChatProvider/index.test.tsx
  webmoti-react/src/components/PreJoinScreens/PreJoinScreens.test.tsx
  webmoti-react/src/components/Publication/Publication.test.tsx
Due: build-and-test-react-app

removed isomorphic-fetch and is-plain-object
  webmoti-react/package-lock.json
  webmoti-react/package.json
  webmoti-react/src/setupTests.ts
  webmoti-react/src/utils/index.ts
Due: build-and-test-react-app

installed cypress
  webmoti-react/cypress.config.ts
  webmoti-react/eslint.config.mjs
  webmoti-react/package-lock.json
  webmoti-react/package.json
  webmoti-react/vite.config.js
Due: build-and-test-react-app

added named setting for SET_AUTH=none
  setup.md
  webmoti-react/package.json
  webmoti-react/src/clientEnv.ts
  webmoti-react/src/components/LoginPage/LoginPage.test.tsx
  webmoti-react/src/components/LoginPage/LoginPage.tsx
  webmoti-react/src/components/PreJoinScreens/DeviceSelectionScreen/DeviceSelectionScreen.tsx
  webmoti-react/src/components/PreJoinScreens/PreJoinScreens.tsx
  webmoti-react/src/components/PrivateRoute/PrivateRoute.test.tsx
  webmoti-react/src/components/PrivateRoute/PrivateRoute.tsx
  webmoti-react/src/state/index.test.tsx
Due: build-and-test-react-app

moved some deps to dev, removed browserslist
  webmoti-react/package-lock.json
  webmoti-react/package.json
Due: build-and-test-react-app

fixed cypress tests
  webmoti-react/cypress.config.ts
  webmoti-react/cypress/e2e/twilio-video.cy.js
  webmoti-react/cypress/plugins/index.js
  webmoti-react/cypress/support/customAssertions.js
  webmoti-react/src/components/ParticipantList/ParticipantList.tsx
  webmoti-react/vite.config.js
Due: build-and-test-react-app

installed cypress-multi-reporters
  webmoti-react/cypress.config.ts
  webmoti-react/package-lock.json
  webmoti-react/package.json
Due: build-and-test-react-app

enabled cypress in ci
  .circleci/continue-config.yml
Due: none

updated tsconfigs
  webmoti-react/server/tsconfig.json
  webmoti-react/tsconfig.json
Due: build-and-test-react-app

updated snapshot
  webmoti-react/src/components/ParticipantList/__snapshots__/ParticipantList.test.tsx.snap
Due: build-and-test-react-app

firebase middleware defer init
  webmoti-react/server/firebaseAuthMiddleware.ts
Due: build-and-test-react-app

fixed cypress tests
  .circleci/continue-config.yml
  webmoti-react/.gitignore
  webmoti-react/cypress/e2e/twilio-video.cy.js
  webmoti-react/package-lock.json
  webmoti-react/package.json
  webmoti-react/src/components/MenuBar/MenuBar.tsx
  webmoti-react/src/components/PreJoinScreens/RoomNameScreen/RoomNameScreen.tsx
  webmoti-react/tsconfig.json
Due: build-and-test-react-app

removed baseUrl from cypress config
  webmoti-react/cypress.config.ts
  webmoti-react/package.json
Due: build-and-test-react-app

updated docs
  plugin-rtc/CHANGELOG.md
  plugin-rtc/README.md
  setup.md
Due: none

maybe fixed circleci
  webmoti-react/src/components/WebmotiVideoProvider/index.tsx
Due: build-and-test-react-app

updated standalone-join packages
  standalone-join/autojoin.js
  standalone-join/package-lock.json
  standalone-join/package.json
Due: none

upgraded python app requirements
  hand/app/requirements.txt
Due: test-hand-server

added dependabot auto merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

fixed camera NotReadableError
  webmoti-react/src/constants.ts
Due: build-and-test-react-app

updated docs
  setup.md
Due: none

fixed auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none
