Repository IMDC/webmoti-react: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-react-app, test-hand-server

fixed test
  webmoti-react/src/components/VideoProvider/useLocalTracks/useLocalTracks.test.tsx
Due: build-and-test-react-app

added dependabot groups and hand/app/client
  .github/dependabot.yml
Due: none

updated docs
  webmoti-react/docs.md
  webmoti-react/docs/docs.md
Due: build-and-test-react-app

updated readme and setup
  .markdownlint.json
  README.md
  setup.md
  webmoti-react/docs/docs.md
Due: build-and-test-react-app

separated dependabot directories
  .github/dependabot.yml
Due: none

circleci always run all jobs
  .circleci/continue-config.yml
Due: none

updated ci
  .circleci/continue-config.yml
Due: none

dependabot only auto merges for /webmoti-react
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

fixed dependabot config
  .github/dependabot.yml
Due: none

fixed python ci
  .circleci/continue-config.yml
Due: none

updated readme
  README.md
Due: none

changed deprecated pluginCypress import
  webmoti-react/eslint.config.mjs
Due: build-and-test-react-app

updated npm deploy scripts
  webmoti-react/package.json
  webmoti-react/vite.config.js
Due: build-and-test-react-app

updated setup.md
  setup.md
Due: none

updated screenshots
  webmoti-react/docs/audio_notification.png
  webmoti-react/docs/controls_menu.png
  webmoti-react/docs/join_screen.png
  webmoti-react/docs/login_screen.png
  webmoti-react/docs/medium_screen_size.png
  webmoti-react/docs/mobile_screen_size.png
  webmoti-react/docs/raise_hand.png
  webmoti-react/docs/room.png
  webmoti-react/docs/set_schedule.png
  webmoti-react/docs/speaker_view.png
  webmoti-react/docs/tts.png
  webmoti-react/docs/two_students.png
Due: build-and-test-react-app

updated docs
  README.md
  webmoti-react/docs/docs.md
Due: build-and-test-react-app

improved menu and popups ui
  webmoti-react/src/components/Buttons/ToggleScheduleButton/ToggleScheduleButton.tsx
  webmoti-react/src/components/MenuBar/Menu/Menu.tsx
  webmoti-react/src/components/SetScheduleModal/SetScheduleModal.tsx
  webmoti-react/src/components/ViewScheduleModal/ViewScheduleModal.tsx
Due: build-and-test-react-app

more padding
  webmoti-react/src/components/Buttons/EndCallButton/EndCallButton.tsx
  webmoti-react/src/components/MenuBar/ControlsMenu/ControlsMenu.tsx
Due: build-and-test-react-app

updated some screenshots
  webmoti-react/docs/audio_notification.png
  webmoti-react/docs/controls_menu.png
  webmoti-react/docs/set_schedule.png
Due: build-and-test-react-app

added screenshots of hand server website
  README.md
  webmoti-react/docs/docs.md
  webmoti-react/docs/hand_server/hand_queue.png
  webmoti-react/docs/hand_server/home.png
  webmoti-react/docs/hand_server/push_to_talk_off.png
  webmoti-react/docs/hand_server/push_to_talk_on.png
Due: build-and-test-react-app

updated setup.md
  setup.md
  webmoti-react/src/constants.ts
Due: build-and-test-react-app

added .env.example files
  .gitignore
  hand/app/.env.example
  hand/app/.gitignore
  setup.md
  standalone-join/.env.example
  webmoti-react/.env.example
  webmoti-react/.gitignore
  webmoti-react/src/components/MenuBar/MenuBar.test.tsx
  webmoti-react/src/state/index.test.tsx
  webmoti-react/src/state/usePasscodeAuth/usePasscodeAuth.test.tsx
Due: build-and-test-react-app, test-hand-server

removed SET_AUTH=none option
  webmoti-react/.env.example
  webmoti-react/package.json
  webmoti-react/src/clientEnv.ts
  webmoti-react/src/components/LoginPage/LoginPage.test.tsx
  webmoti-react/src/components/LoginPage/LoginPage.tsx
  webmoti-react/src/components/MenuBar/MenuBar.tsx
  webmoti-react/src/components/PreJoinScreens/RoomNameScreen/RoomNameScreen.tsx
  webmoti-react/src/components/PrivateRoute/PrivateRoute.test.tsx
  webmoti-react/src/components/PrivateRoute/PrivateRoute.tsx
  webmoti-react/src/state/index.test.tsx
Due: build-and-test-react-app

removed coverage in ci
  .circleci/continue-config.yml
  webmoti-react/package.json
Due: build-and-test-react-app

fixed .gitignore ignoring .env.example
  .gitignore
  hand/app/.gitignore
  webmoti-react/.gitignore
Due: build-and-test-react-app, test-hand-server

disable dependabot
  .github/dependabot.yml
  .github/dependabot.yml.disabled
  .github/workflows/dependabot-auto-merge.yml
Due: none

Path conditions:
  build-and-test-react-app: any of: webmoti-react/.*
  test-hand-server: any of: hand/app/.*
